body{
  font-size:10px;
  font-family:"liberation", sans-serif;
  line-height:1.3em;
  font-weight:normal;
  background-color:black;
  color:black;
  transition:background .2s linear;
}
body>header{
  margin-bottom:2em;
  text-align:center;
}
body>header nav{
  position:fixed;
  right:3em;
  top:0;
  display:flex;
}
body>header nav li{
  display:block;
  background:white;
  color:tomato;
  flex:1 1 auto;
  padding:0 5px;
  margin-left:5px;
  font-size:0.8em;
  border-radius:0 0 5px 5px;
  position:relative;
}

main{
  background:black;
  height:100vh;
  color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:all .5s linear;
  text-align:center;
  font-size:8vw;
  line-height:1.2em;
}

.list{
  position:absolute;
  width:100%;
  text-align:center;
}
.list .font{
  list-style-type:none;
  display:inline-block;
  text-align:center;
  padding:5px;
  cursor:pointer;
}
footer{
  position:absolute;
  bottom:0;
  left:0;
  font-family:monospace;
}
footer a{
  padding:5px;
}
