body{
  font-size:20px;
  font-family:"liberation", sans-serif;
  line-height:1.3em;
  font-weight:normal;
  background-color:tomato;
  color:white;
  padding:3em;
  transition:background .2s linear;

}
body>header{
  margin-bottom:2em;
  text-align:center;
}
body>header nav{
  position:fixed;
  right:3em;
  top:0;
  display:flex;
}
body>header nav li{
  display:block;
  background:white;
  color:tomato;
  flex:1 1 auto;
  padding:0 5px;
  margin-left:5px;
  font-size:0.8em;
  border-radius:0 0 5px 5px;
  position:relative;
}
header>h1 .box{
  border:1px solid white;
  padding:0 .2em;
  background:white;
  color:tomato;
}
h2{
  font-size:.7em;
  letter-spacing:1px;
}
section{
  margin-bottom:2em;
  border:1px solid rgba(255, 255, 255, 0.50);
  padding:1em 0.5em 0 0.5em;
}
section header{
  margin:0 0.5em;
  display:flex;
  width:100%;
}
section header p{
  flex:0 1 19%;
}
section header p:not(:first-child){
  font-size:12px;
  font-family:"liberation_mono", monospace;
}
section main{
  display:flex;
  flex-wrap:wrap;
  overflow:hidden;
  max-height:5000px;
  transition:max-height .3s ease-out;
  margin-bottom:1em;
}
body.mini section main{
  max-height:0px;
}
.font{
  flex:1 1 25%;
  display:flex;
  flex-wrap:wrap;
  background:white;
  color:tomato;
  margin:1em 0.5em 0 1em;
  padding:0 1em 1em 1em;
}
.meta{
  flex:1 1 100%;
  border-bottom:1px solid;
  padding-top:5px;
  margin-bottom:1em;
  font-family:"liberation_mono", monospace;
  display:flex;
}
.meta li{
  flex:1 1 auto;
  font-size:12px;
}
.tester{
  font-variant: normal;
  width:100%;
  font-feature-settings: "kern", "liga", "calt";
  overflow:hidden;
}
input.tester{
  background:transparent;
  border:none;
  font-size:100px;
  color:inherit;
  width:100%;
  transition:all .2s linear;
}
.tester:hover{
  color:red;
}
a{
  color:inherit;
  border-bottom:1px solid white;
  text-decoration:none;
}
a:hover{
  opacity:.8;
}
.tester::-moz-selection{
  background: #444;
  color: #fff;
}
.tester::selection {
  background: #444;
  color: #fff;
}
body ::-moz-selection {
  background: #eee;
  color: #000;
}
body ::selection {
  background: #eee;
  color: #000;
}
button{
  background:white;
  border:0;
  color:inherit;
  font-family:inherit;
}
/*.font:after{
  content:", ";
}
.font:last-child:after{
  content:"";
}*/
